.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(175,103,233);
background: linear-gradient(180deg, rgba(175,103,233,1) 20%, rgba(101,101,231,1) 100%);
width: 100vw;
height: 100vh;
}